a:hover,
a:focus {
    color: #E66000;#
}

a,.tp-caption a.btn:hover {
	color: #E66000;
}
.top-nav-collapse {
	background: #E66000;
}

.carousel-indicators .active {
    background-color: #E66000;
}

.header-text h2 span {
   /* background-color: #E66000;*/
   

background: #C02425; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C02425 , #F0CB35); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C02425 , #F0CB35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}


.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #E66000;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	
    background-color: #E66000;
}

.widget-avatar .avatar:hover {
    border: 5px solid #E66000;
}

.bg-skin {
	background: #E66000;
}

.highlight-color {
	background-color: #E66000;
}





form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #E66000;
}
form.search-form input:focus {
	border-color: #E66000;
}

/* footer */
ul.footer-menu li a:hover {
	color: #E66000;
}

footer a.totop:hover {
	color: #E66000;
}


.btn-skin {
  color: #fff;
  background-color: #E66000;
  border-color: #E66000;
}


#topx{
	padding-top: 14px;
}